services:
  postgres:
    image: postgres:latest
    container_name: libraryoauth-postgres
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    restart: always
    shm_size: 128mb
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
  redis:
    image: redis:latest
    container_name: libraryoauth-redis
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
  redisinsight:
    image: redis/redisinsight:latest
    container_name: libraryoauth-redisinsight
    volumes:
      - redisinsight:/data
    ports:
      - "5540:5540"

volumes:
  postgresql_data:
    driver: local
  redis_data:
    driver: local
  redisinsight:
    driver: local
